body{
    background-color:whitesmoke;
    background-repeat: no-repeat;
}
 #judul{
    font-family:Arial, Helvetica, sans-serif;
    color:blueviolet;
    text-align: center;
    margin:0;
    font-size:20pt;
    background-color: bisque;

 }

 table{
    display: inline-block;
 }

 #jdl{
    text-align: center;
}

#member{
    width: 50px;
    display:inline-block;
}
#mnama{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    text-transform: uppercase;
    text-align: center;
    display:inline-block;
    cursor:pointer;
}

#mwarna{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    text-transform: uppercase;
    text-align: center;
    display:inline-block;
    cursor:pointer;
}

#mjenis{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    text-transform: uppercase;
    text-align: center;
    display:inline-block;
    cursor:pointer;
}

#mjenis{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    text-transform: uppercase;
    text-align: center;
    display:inline-block;
    cursor:pointer;
}

#left-div{
    width:100px;
    display:inline-block;
}
#right-div{
    display: inline-block;
}